* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #E1F1FF;
  --secondary-color: #54BBF8;
  --line-color: #000072;
  --btn-color: #FEB8D7;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.menu-container {
  height: 45rem;
  width: 45rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  border-radius: 15px;
  border: var(--line-color) solid 5px;
}

.game-container {
  height: 45rem;
  width: 45rem;
  background: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  overflow: hidden;
  border-radius: 15px;
  border: var(--line-color) solid 5px;
}

.result-container {
  height: 45rem;
  width: 45rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: var(--primary-color);
  border-radius: 15px;
  border: var(--line-color) solid 5px;
}

.btn {
  padding: 0.7rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background: var(--btn-color);
  border: var(--line-color) solid 3px;
  min-width: 4rem;
  font-size: 1.1rem;
}

.answer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.word {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  min-height: 3rem;
}

.word > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.letter {
  font-size: 2rem;
}

.line {
  height: 0.3rem;
  width: 2rem;
  background: var(--line-color);
}

.letters {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 1rem;
  background: var(--secondary-color);
  width: 100%;
}

.guessed {
  opacity: 0.3;
  cursor: default;
}

.hanged-man {
  margin: 2rem 0 0 0 ;
  min-height: 20rem;
  width: 23rem;
}

img {
  width: 100%;
  height: auto;
}

.hide {
  display: none;
}